{% extends "base.html" %}
{% block content %}
<section id="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

    <div style="position: absolute; top: 50%; left: 50%;text-align: center; margin: -100px 0 0 -200px;">
        <h1 style="color: #ede8e8;">You are now logged in!</h1>
    {% if user.username == "Dhruv" %}   
      <h2><a class="smoothScroll btn btn-danger btn-lg" data-wow-delay="1.2s" href="{% url 'profiles:adminHome'%}">Go to Home Page</a></h2>
    {% else %}
        <h2><a class="smoothScroll btn btn-danger btn-lg" data-wow-delay="1.2s" href="{% url 'profiles:userHome'%}">Go to Home Page</a></h2> 
    {% endif %}
    </div>

    </div>
  </div>
</section>
<section id="home">
  <div class="overlay"></div>
  <div class="container">
    
</div>
</section>
  
{% endblock %}
