{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <h1>Welcome to your page, Admin</h1>
    <br>
    <div> 
        <h2>Check the boxes below to display records!</h2>
        <form method="POST" action="/profiles/adminKaLogin/">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" value="1">
                <label class="custom-control-label" for="defaultInline1">Vendor 1</label>
            </div>
            
            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" value="2">
                <label class="custom-control-label" for="defaultInline2">Vendor 2</label>
            </div>
          
        <h3> Select time period</h3>
        
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample1">
                <label class="custom-control-label" for="defaultInline1">1 Month</label>
            </div>  
            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample1">
                <label class="custom-control-label" for="defaultInline2">2 Months</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample1">
                <label class="custom-control-label" for="defaultInline2">6 Months</label>
            </div>
            <button type="submit" class="btn btn-primary" name="form1">Submit</button>
        </form>
        
    </div>
    
    
</div>

{% endblock %}
