{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <br>
    <br>
    <h1 style="margin: auto; text-align:center; border-radius: 2px; border: 2px dotted black; padding: 20px;">Welcome to your home page, {{ user.username }}!</h1>
    <br>
    <h3>Select vendor to check your balance!</h3>
    <br>
    
    <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Check Balance</button>
        {% endbuttons %}
    </form>
    {% if args.model %}
    <h4>You need to pay Rs {{ args.model }} to vendor {{ args.choice }}</h4>
    {% else %}
    <h4>No outstanding payment!</h4>
    {% endif %}
</div>

{% endblock %}
