{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
    <h1>Welcome to your page, @{{ user.username }}</h1>
    <h3>Select vendor to check your balance!</h3>
    <br>
    
    <form method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Check Balance</button>
        {% endbuttons %}
    </form>
    <p>You need to pay Rs {{ args.model }} to vendor {{ args.choice }}</p>
    {{ args }}
    <h4>Your record is clear with vendor {{ args.choice }}!</h4>
</div>

{% endblock %}
