{% extends "base.html" %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block content %}
<br>

<div class="container h-100" style="margin:auto, height:200px, width: 200px, border:3px groove black">
	<div class="d-flex justify-content-center h-100" style="justify-content:center; margin-top: 50px;" >
		<div class="user_card" style="-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);box-shadow: 1px 2px 5px rgba(0,0,0,.31); background-color: #ede8e8; border-radius: 10px;">
			<br>
			<div class="d-flex justify-content-center">
				<div class="brand_logo_container">
					<img src="http://www.clipartpanda.com/clipart_images/user-66327738/download" class="brand_logo" alt="Logo" style="width:50px">
				</div>
			</div>
			
			 <div class="container">
				 <h3 style="text-align:center">Member Login</h1>
 			 	<form method="POST" class="form">
			 	{% csrf_token %}
     				{% bootstrap_form form %}
     				{% buttons %}
       				<button type="submit" class="btn btn-primary container d-flex justify-content-center" >Login</button>
     				{% endbuttons %}
   				</form>
 			 </div>
						
	
			<div class="mt-4">
				<div class="d-flex justify-content-center links" style="margin-bottom: 2px;">
					Don't have an account? <a href="{% url 'accounts:signup' %}" class="ml-2">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
